# Compiled files
*.tfstate
*.tfstate.backup
*.plan

# Module directory
.terraform/

# AWS credentials
.aws/env
#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
